<%- include('partials/header.ejs') %>

<header class="jumbotron">
    <h1>Get Started</h1>
    <p>Here is the collection of books from all over the world.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/books">Link to Books</a>
    </p>
</header>





<%- include('partials/footer.ejs') %>